<template>
  <div class="graphcontainer">
      <div class="graph">
        <Widget>
            <WidgetHeading :id="index" :Title="properties.title" :HeaderEditable="false" :TextColor="false" :DeleteButton="false" :ColorBox="false" :Expand="true" :Collapse="true">
            </WidgetHeading>
            <WidgetBody>
                <div v-bind:id="elementName">
                </div>
            </WidgetBody>
          </Widget>
      </div>
  </div>
</template>

<script>
import Highcharts from "highcharts";
import moment from "moment";
import swxapi from "@/components/swxapi.vue";
// default options of graph
let gOptions = {
  navigator:  {enabled: true }, 
  chart:      { type: "spline", renderTo: "", zoomType: "", panning: true, navigator: { enabled: true } }, 
  title:      { text: "Graph", x: -20 }, 
  subtitle:   { text: "", x: -20 }, 
  xAxis:      { type: "datetime", labels: { format: "{value:%H:%M:%S}" }, title: { text: "Time" } }, 
  yAxis:      { min: 0, opposite: false, title: { text: "values" }, plotBands: [ { color: "#DCEDC8", from: 0, to: 0 }, { color: "#FFCDD2", from: 0, to: 0 } ] }, plotOptions: { series: { marker: { radius: 1 } }, series: { turboThreshold: 0 } },
  credits:    { enabled: false }, 
  exporting:  { enabled: true }, 
  tooltip:    { valueSuffix: "" }, 
  legend:     { layout: "vertical", align: "right", verticalAlign: "middle", borderWidth: 0 }
};

export default {
  name: "graph-swx",
  props: {
    properties:{
      type:Object,
      required:true
    },
    index:{
      type:Number,
      required:true
    }
  },
  data() {
    return {
      swxapi:swxapi,
      pagenumber:1,
      pagesize:30
    };
  },
  methods:{
    showGraph:function(){
        let that = this;
        let param = {
          elementName:that.elementName,
          query:'&datefrom='+moment().subtract(5,'h').valueOf()+'&dateto='+moment().valueOf()+'&sortquery=createdTimestamp==1&pagenumber='+that.pagenumber+'&pagesize='+that.pagesize,
          that : this
        }
        this.swxapi.getRecords(param,this.successCallback,this.errorCallback);
    },
    successCallback:function(response,that){
      let data = response.data.results;
      clearTimeout(that.reportReload);
      if (that.pagenumber * that.pagesize < response.data.totalCount) {
            that.pagenumber++;
            try{
                for(let i = 0; i<data.length;i++){
                  for (var j = 0; j < that.series.length; j++) {
                    that.graphObject.series[j].addPoint({
                      x: moment(data[i].createdTimestamp,"DD-MM-YYYY:HH:mm:ss").valueOf(),
                      y:data[i][that.series[j].tagname]
                    });
                  }
                }
                that.graphObject.hideLoading();
                setTimeout(function(){that.showGraph()},1000);
            }
            catch(ex){
              console.log(ex);
              console.log(that.elementName);
            }
      } else if(that.pagenumber == 1 && that.pagenumber * that.pagesize > response.data.totalCount){
          for(let i = 0; i<data.length;i++){
            for (var j = 0; j < that.series.length; j++) {
              that.graphObject.series[j].addPoint({
                x: moment(data[i].createdTimestamp,"DD-MM-YYYY:HH:mm:ss").valueOf(),
                y:data[i][that.series[j].tagname]
              });
            }
          }
          that.graphObject.hideLoading();
      }

      that.reportReload = setTimeout(function(){that.showGraph()},60000);

    },
    errorCallback:function(error,that){
      console.log(error);
    }
  },
  mounted: function() {
    gOptions.series = [];
    for (var i = 0; i < this.series.length; i++) {
            gOptions.series.push({
              turboThreshold: 0,
              showInNavigator: true,
              name: this.series[i].description || '',
              data: [],
              color:this.series[i].color || "#"+((1<<24)*Math.random()|0).toString(16)
            });
    } 
    let timezone = new Date().getTimezoneOffset();
    Highcharts.setOptions({
        global: {
          timezoneOffset: timezone
        }
    });
    let options = Object.assign({},gOptions);
    options.title.text = this.properties.title;
    options.legend.enabled = this.properties.legend;
    this.graphObject = Highcharts.chart(this.elementName, gOptions);
    this.graphObject.showLoading();
    this.showGraph();
  },
  created: function() {
    this.elementName = this.properties.elementName;
    this.series = this.properties.tags;
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import 'vue-widgets/dist/styles/vue-widgets.css';

.graphcontainer,.graph,.graph>div {
  height: 100%;
}
</style>
