<template>
  <div class="alarmcontainer">
      <div class="alarm">
        <Widget>
            <WidgetHeading :id="index" :Title="properties.title" :HeaderEditable="false" :TextColor="false" :DeleteButton="false" :ColorBox="false" :Expand="true" :Collapse="true">
            </WidgetHeading>
            <WidgetBody>
                <div class="al">
                  <div class="parameters" v-for="alarm in alarmVal">
                      <div class="pure-g">
                          <div class="pure-u-2-5"> {{alarm.paramname}} </div>
                          <div class="pure-u-1-5">                  
                            <span class='range'> {{alarm.min}}</span>
                          </div>
                          <div class="pure-u-1-5"> 
                            <span v-if="alarm.value > alarm.min && alarm.value < alarm.max" class="ok"> {{alarm.value}}</span>
                            <span v-else-if="alarm.value < alarm.min || alarm.value > alarm.max"  class="notok"> {{alarm.value}}</span>
                            <span v-else="alarm"> {{alarm.value}}</span>  
                          </div>
                          <div class="pure-u-1-5"> 
                            <span v-if="alarm.max != undefined" class='range'> {{alarm.max}}</span>
                          </div>
                      </div>
                      <hr>
                  </div>
                </div>
            </WidgetBody>
        </Widget>
      </div>
  </div>
</template>

<script>
import swxapi from "@/components/swxapi.vue";
import moment from "moment";
let tags = [
              {"tagname": "tanklevel","description": "Tank Level","color":"red"},
              {"tagname": "temperature","description": "Temperature","color":"black"},
              {"tagname": "deltaplongbagfilter","description": "Deltaplong Bag Filter","color":"orange"}
            ]
export default {
  name:'alarm',
  props: {
    properties:{
      type:Object,
      required:true
    },
    index:{
      type:Number,
      required:true
    }
  },
  data(){
      return{
          swxapi:swxapi,
          pagenumber:1,
          pagesize:1,
          alarmVal : [],
      }
  },
   methods:{
    showAlarm:function(){
        let that = this;
        let param = {
          elementName:that.elementName,
          query:'&sortquery=createdTimestamp==-1&pagenumber='+that.pagenumber+'&pagesize='+that.pagesize,
          that : this
        }
        this.swxapi.getRecords(param,this.successCallback,this.errorCallback);
    },
    successCallback:function(response,that){
      let data = response.data.results;
      if( data.length > 0 ) {
        for(let i=0; i < tags.length; i++){
            let obj = {
              paramname:tags[i].description,
              value:data[0][tags[i].tagname],
              min:10,
              max:45
            }
            that.alarmVal.push(obj);
        }
      }
    },
    errorCallback:function(error,that){
      console.log(error);
    }
  },

   mounted: function() {
      
   },
  created: function() {
    this.elementName = this.properties.elementName;
    this.tags = this.properties.tags;
    this.showAlarm();
  }
}
</script>

<style scoped>
@import 'vue-widgets/dist/styles/vue-widgets.css';

  .alarmcontainer,.alarm,.alarm>div {
      height: 100%;
      width:100%;
  }
  .al{
    text-align: left;
  }

  .ok{
    color:green;
  }

  .notok{
    color:red;
  }

  .parameters{
    font-weight: 700;
  }

</style>


