<template>
  <div id="app">
    <div class="pure-g">
      <div class="pure-u-1-2" v-for='(item,index) in properties'>
          <swxGraph :properties="item" :index="index"/>
      </div>
    </div>
    <div class="pure-g">
        <div class="pure-u-1-2" v-for='(item,index) in properties'>
          <swxAlarm :properties="item" :index="index"/>
        </div>
    </div>
  </div>
</template>

<script>
import swxapi from "@/components/swxapi.vue";
import swxGraph from "@/components/swx-graph.vue";
import swxAlarm from "@/components/swx-alarm.vue";
import moment from "moment";
let properties = [{
                  elementName:"hotwater",
                  title:"Hot Water",
                  legend:false,
                  tags:[{"tagname": "tanklevel","description": "Tank Level","color":"red"},
                        {"tagname": "temperature","description": "Temperature","color":"black"},
                        {"tagname": "deltaplongbagfilter","description": "Deltaplong Bag Filter","color":"orange"}
                      ]
                },
                {
                  elementName:"predegrease",
                  title:"Pre Degrease",
                  legend:false,
                  tags:[{"tagname": "tanklevel","description": "Tank Level","color":"red"},
                        {"tagname": "temperature","description": "Temperature","color":"black"},
                        {"tagname": "deltaplongbagfilter","description": "Deltaplong Bag Filter","color":"orange"}
                      ]
                }];
export default {
  name: "App",
  components: {
    swxGraph,
    swxAlarm
  },
  methods: {},
  created: function() {
    var queryParam = this.$route.query; // for getting serverIP,customerid and userid
    swxapi.customerid = +queryParam.customerid || 1;
    swxapi.userid = +queryParam.userid || 2;
    swxapi.serverip = "http://13.126.83.244";
    this.properties = properties;
  }
};
</script>
<style>
@import "./assets/pure.css";
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
}
html,
body {
  height: 100%;
}
</style>
